*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}
::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #E8E8E8;
}
.reg-btn{
    background-color: #df6a1f;
    color: white;
    width: 100%;
    border: none;
    text-align: center;
    padding: 1vw;
    margin-top: 10px;
}
.login-btn{
    background-color: #3b5998;
    color: white;
    width: 100%;
    border: none;
    text-align: center;
    padding: 1vw;
}
#email-btn{
    background-color: #26a7de;
}
small{
    display: none;
}