*{
  padding: 0%;
  box-sizing: border-box;
  margin: 0%;
}
#navbar {
  height: 60px;
}

.container1 {
  margin-top: 5vh;
}

.carousel .carousel-item {
  height: 80vh;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 80vh;
}

#form1 {
  margin-top: -35vh;
}

.btn-warning {
  background:  #df6a1f; 
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  #df6a1f;
  min-height: 50px; 
  border-radius:1rem ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #963f09;  
}
/* #search {
 background-image: url('/static/images/logo.png');
} */

.compare_price {
  float: right;
}
.nav-span{
  color: #df6a1f;
}
#carousel-img{
  height: 45vw;
}

#btnScrollToTop{
  position: fixed;
  right: 1vh;
  bottom: 1vh;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #df6a1f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
  outline: none;
  cursor: pointer;
}
#btnScrollToTop:active{
  background-color: black;
}
.info{
  color: black;
}

a:hover {
  color: #df6a1f!important;
}