.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
::-webkit-scrollbar{
  display: none;
}
/* #search {
 background-image: url('/static/images/logo.png');
} */

.compare_price {
  float: right;
}
.nav-span{
  color: #df6a1f;
}
#carousel-img{
  height: 45vw;
}
#btnScrollToTop{
  position: fixed;
  right: 1vh;
  bottom: 1vh;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #df6a1f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
  outline: none;
  cursor: pointer;
}
#btnScrollToTop:active{
  background-color: black;
}
.info{
  color: black;
}
