.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

#search {
 background-image: url('/static/images/logo.png');
}

/* .compare {
  display: inline-block;
  width: 120px;
} */

.compare_price {
  float: right;
}