{% load static %}
<!-- Footer -->
<hr>
<footer class="text-center bg-dark text-white footer1">
    <!-- Grid container -->
    <div class="container-fluid p-4">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="mt-3">
            <div class="row container">
                <div class="col-4">
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'images/logo.png' %}" alt="nav-logo" class="img-fluid" width="55"
                            height="50"><span><strong>SHOP<span class="nav-span">ZILLA</span></strong></span>
                    </a>
                </div>
                <div class="col-8">
                    <form action="">
                        <!--Grid row-->
                        <div class="row d-flex justify-content-center">
                            <!--Grid column-->
                            <div class="col-auto">
                                <p class="pt-2">
                                    <strong>Sign up for our newsletter</strong>
                                </p>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-5">
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input type="email" id="form5Example21" class="form-control text-white" />
                                    <label class="form-label text-white" for="form5Example21">Email address</label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-auto">
                                <!-- Submit button -->
                                <button type="submit" class="btn mb-4 bg-warning text-white">
                                    Subscribe
                                </button>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </form>
                </div>
            </div>

        </section>
        <!-- Section: Form -->
        
        <!-- Section: Links -->
        <section class="mt-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-6 col-sm-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase">Shopping Guide</h6>

                    <div class="info">
                            <a href="/accounts/login" class="text-white">Become a member</a><br>
                            <a href="/accounts/register" class="text-white">How to Register</a><br>
                            <a href="/accounts/register" class="text-white">Register on ShopZilla App</a><br>
                            <a href="#!" class="text-white">Forgot Password?</a>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <!-- <div class="col-lg-3 col-md-3 col-sm-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase">Let us help you</h6>
                    <div class="info">
                        <a href="#!" class="text-white">Help Center</a><br>
                        <a href="#!" class="text-white">Contact Us</a><br>
                        <a href="#!" class="text-white">How to Shop on ShopZilla</a><br>
                        <a href="#!" class="text-white">Report a Product</a>
                    </div>
                </div> -->
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-6 col-sm-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase">About ShopZilla</h6>
                    <div class="info">
                        <a href="#" class="text-white">About us</a><br>
                        <a href="#!" class="text-white">Terms and conditions</a><br>
                        <a href="#!" class="text-white">Privacy & Cookie Notice</a><br>
                        <a href="#!" class="text-white">Flash Sales</a>
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <!-- <div class="col-lg-3 col-md-3 col-sm-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase">make money with ShopZilla</h6>
                    <div class="info">
                        <a href="#!" class="text-white">Sell on ShopZilla</a><br>
                        <a href="#!" class="text-white">Become a Sales Consultant</a><br>
                        <a href="#!" class="text-white">Become a Logistics Service Partner</a><br>
                        <a href="#!" class="text-white">ShopZilla Partner Programme</a>
                    </div>
                </div> -->
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <span>All rights reserved,</span>&nbsp;
        <span id="date">Copyright</span>
        <a class="text-white" href="/"><strong>ShopZilla</strong></a>
    </div>
</footer>
<!-- Footer -->