{% extends 'base.html' %}

{% block content %}
<div class="container-fluid container1">
  <!-- CAROUSEL -->
  <div id="carousel" class="carousel slide carousel-fade mt-3" data-mdb-ride="carousel">
    <div class="carousel-inner rounded-5 shadow-4-strong">
      <div class="carousel-item active">
        <img class="d-block w-100" src="http://source.unsplash.com/1600x400/?smartphones" alt="..." id="carousel-img" width="80" height="20">
        <div class="carousel-caption d-none d-md-block">
          <form class="form mr-sm-2" action='/search' role="search" id="form1">
            <input class="form-control mr-2 text-center" type="search" placeholder="Search for a product" name="searchitem" aria-label="Search">
            <small class="form-small">To get a more accurate search specify the product item</small>
            <br>
            <button class="form-button text-center btn btn-warning btn-md my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
    <button onclick="displayPreviousImage()" class="carousel-control-prev" type="button" data-mdb-target="#carousel"
      data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button onclick="displayPreviousImage()" class="carousel-control-next" type="button" data-mdb-target="#carousel"
      data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- END OF CAROUSEL -->
</div>

<div class="container my-4">
  <hr>
  <h2 class="text-center" id="about">STORES</h2>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <!-- CARD -->
      <div class="card text-center">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="http://source.unsplash.com/160x160/?laptops" class="img-fluid rounded mt-3" alt="...">
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-header">Jumia</h5>
          <small><p class="card-text mt-3">Jumia is an online retailer established with the aim and
            vision to become the one-stop shop for retail in Kenya. It provides a large store and customer base with a variety of products.  
          </p></small>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- CARD -->
      <div class="card text-center">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="http://source.unsplash.com/160x160/?furniture" class="rounded img-fluid mt-3" alt="...">
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-header">Copia</h5>
          <small><p class="card-text mt-3">Copia is a service that allows you buy goods at affordable prices and send to mashinani for free.
            Send items such as foodstuffs, household, construction, electronics & farm feeds.
          </p></small>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="http://source.unsplash.com/160x160/?carpets" class="rounded img-fluid mt-3" alt="...">
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-header">Jiji</h5>
          <small><p class="card-text mt-3">Jiji allows users to buy and sell anything to people online. It is one a free
            online classified and provides a simple hassle-free solution to sell and buy
            almost anything.
          </p></small>
        </div>

      </div>
    </div>
  </div>
  
  <button id="btnScrollToTop">
    <i class="fas fa-angle-up"></i>
  </button>
</div>

{% endblock %}