{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/logo.png' %}" alt="nav-logo" class="img-fluid" width="55" height="50"><span><strong>SHOP<span class="nav-span">ZILLA</span></strong></span>
    </a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mx-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <!-- Icon dropdown -->
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/accounts/login">Sign-in</a>
            </li>
            <li>
              <a class="dropdown-item" href="/accounts/register/">Register</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="/accounts/logout/">Logout</a>
            </li>
          </ul>
        </li>
      </ul>

      <form class="d-flex input-group w-auto">
        <input type="search" class="form-control" placeholder="Input query here..." aria-label="Search" />
        <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark">
          <i class="fas fa-search border-0"></i>
        </button>
      </form>
    </div>
  </div>
</nav>

<!-- <div class="container">
  <nav class="navbar navbar-light justify-content-between">
    <a class="navbar-brand" href="/">
      <small><span>S<small>hop</small> Z<small>illa</small></span></small>
    </a>
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/logo.png' %}" alt="" width="auto" height="50">
    </a>

    <a href="#" class="navbar-brand">
      <span class="material-symbols-outlined">person</span>
    </a>
      
  </nav>
    
</div> -->