{% extends 'base.html' %}

{% block content %}
<div id="search" class="container-fluid text-center">
  <br><br>
  <form class="form mr-sm-2" action='/search' role="search">
    <input class="form-control mr-2 text-center" type="search" placeholder="Search for a product" name="searchitem" aria-label="Search">
    <small class="form-small">To get a more accurate search specify the product item</small>
    <br>
    <button class="form-button text-center btn btn-warning btn-md my-2 my-sm-0" type="submit">Search</button>
  </form>
  <br>
</div>
<br>

<div class="row mx-auto container-fluid d-flex justify-content-between">
  <h6 class="text-center"> Search results for </h6>
  <hr>
  <div class="col-lg-3 col-md-3 col-sm-6" style="margin-bottom: 1rem;">
    <div class="card">
      <div class="card-header text-center">
        <h6 class="mt-3">Shop Zilla Ranking</h6>
      </div>
      <div class="card-body">
        <h6 class="text-center">Costing</h6>
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item"><span class="compare" >Jiji</span><span class="compare_price">Ksh. 180</span></li></small>
          <small><li class="list-group-item"><span class="compare" >Jiji</span><span class="compare_price">Ksh. 200</span></li></small>
          <small><li class="list-group-item"><span class="compare" >Jiji</span><span class="compare_price">Ksh. 220</span></li></small>
        </ul>
      </div>
      <div class="card-body">
        <h6 class="text-center">Service</h6>
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item"><span class="compare" >Jiji</span><span class="compare_price">Rating: 4.8</span></li></small>
          <small><li class="list-group-item"><span class="compare" >Jiji</span><span class="compare_price">Rating: 4.7</span></li></small>
          <small><li class="list-group-item"><span class="compare" >Jiji</span><span class="compare_price">Rating: 4.6</span></li></small>
        </ul>
      </div>
    </div>
  </div>

  <!-- JIJI -->
  <div class="col-lg-3 col-md-3 col-sm-6" style="margin-bottom: 1rem;">
    {% if min_jiji_item %}
    <div class="card">
      <div class="card-title text-center">
        {% if min_jiji_item %}
        <h4 class="card-header">{{store_jiji}}</h4>
        {% endif %}
        {% if min_jiji_item.image %}
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="{{min_jiji_item.image}}" class="card-img-top img-fluid" alt="image">
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        {% else %}
        <img src="/static/images/logo.png" class="card-img-top img-fluid" alt="image">
        {% endif %}
      </div>
      <div class="card-body">
        <h5 class="text-center card-title">Product Details</h5>
        <ul class="list-group list-group-flush">
          {% if min_jiji_item %}
          <small>
            <li class="list-group-item px-3"><strong>Price:&nbsp;</strong>{{min_jiji_item.price}}</li>
          </small>
          <small>
            <li class="list-group-item px-3"><strong>Location:&nbsp;</strong>{{min_jiji_item.location}}</li>
          </small>
          <!-- <li class="list-group-item px-3">{{min_jiji_item.rating}}</li> -->
          {% else %}
          <li class="list-group-item px-3">Search for an item</li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>


  <!-- JUMIA -->
  <div class="col-lg-3 col-md-3 col-sm-6" style="margin-bottom: 1rem;">
    {% if min_jumia_item %}
    <div class="card">
      <div class="card-title text-center">
        {% if min_jumia_item %}
        <h4 class="card-header">{{store_jumia}}</h4>
        {% endif %}
        {% if min_jumia_item.image %}
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="{{min_jumia_item.image}}" class="card-img-top img-fluid" alt="image">
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        {% else %}
        <img src="/static/images/logo.png" class="card-img-top img-fluid" alt="image">
        {% endif %}
      </div>
      <div class="card-body">
        <h5 class="text-center card-title">Product Details</h5>
        <ul class="list-group list-group-flush">
          {% if min_jumia_item %}
          <small>
            <li class="list-group-item px-3"><strong>Price:&nbsp;</strong>{{min_jumia_item.price}}</li>
          </small>
          <small>
            <li class="list-group-item px-3"><strong>Location:&nbsp;</strong>{{min_jumia_item.location}}</li>
          </small>
          <!-- <li class="list-group-item px-3">{{min_jumia_item.rating}}</li> -->
          {% else %}
          <li class="list-group-item px-3">Search for an item</li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- COPIA -->
  <div class="col-lg-3 col-md-3 col-sm-6" style="margin-bottom: 1rem;">
    {% if min_copia_item %}
    <div class="card">
      <div class="card-title text-center">
        {% if min_copia_item %}
        <h4 class="card-header">{{store_copia}}</h4>
        {% endif %}
        {% if min_copia_item.image %}
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="{{min_copia_item.image}}" class="card-img-top img-fluid" alt="image">
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        {% else %}
        <img src="/static/images/logo.png" class="card-img-top img-fluid" alt="image">
        {% endif %}
      </div>
      <div class="card-body">
        <h5 class="text-center card-title">Product Details</h5>
        <ul class="list-group list-group-flush">
          {% if min_copia_item %}
          <small>
            <li class="list-group-item px-3"><strong>Price:&nbsp;</strong>{{min_copia_item.price}}</li>
          </small>
          <small>
            <li class="list-group-item px-3"><strong>Location:&nbsp;</strong>{{min_copia_item.location}}</li>
          </small>
          <!-- <li class="list-group-item px-3">{{min_copia_item.rating}}</li> -->
          {% else %}
          <li class="list-group-item px-3">Search for an item</li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
<br><br>

<!-- END OF PRODUCTS -->


<div class="row mt-5">
  <!-- JIJI ITEMS -->
  {% if all_jiji_items %}
  <h1 class="text-center">{{store_jiji}}</h1>
  <br><br><br>
  {% for item in all_jiji_items %}
  <div class="col-lg-2 col-md-3 col-sm-4" style="margin-bottom: 0.5rem;">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="{{ item.image }}" alt="{{ item.name }}" class="img-fluid">
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <small>
          <p class="card-title text-center"><strong> Product:</strong> {{item.name }}</p>
        </small>
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item"><strong>Price:&nbsp;</strong> Ksh {{ item.price }}</li></small>
          <small><li class="list-group-item"><strong>Location:&nbsp;</strong> {{ item.location}}</li></small>
        </ul>
      </div>
    </div>

  </div>    
  {% endfor %}
  {% endif %}
</div>

<!-- JUMIA ITEMS -->
<div class="row">
  {% if all_jumia_items %}
  <h1 class="text-center">{{store_jumia}}</h1>
  <br><br><br>
  {% for item in all_jumia_items %}
  <div class="col-lg-2 col-md-3 col-sm-4 mt-3" style="margin-bottom: 0.5rem;">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="{{ item.image }}" alt="{{ item.name }}" class="img-fluid">
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <small>
          <p class="card-title text-center"><strong> Product:</strong> {{item.name }}</p>
        </small>
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item"><strong>Price:&nbsp;</strong> Ksh {{ item.price }}</li></small>
          <small><li class="list-group-item"><strong>Location:&nbsp;</strong> {{ item.location}}</li></small>
        </ul>
      </div>
    </div>

  </div>    
  {% endfor %}
  {% endif %}
</div>

<div class="row">
  <!-- COPIA ITEMS -->
  {% if all_copia_items %}
  <h1 class="text-center">{{store_copia}}</h1>
  <br><br><br>
  {% for item in all_copia_items %}
  <div class="col-lg-2 col-md-3 col-sm-4" style="margin-bottom: 0.5rem;">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="{{ item.image }}" alt="{{ item.name }}" class="img-fluid">
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <small><p class="card-title text-center"><strong> Product:</strong> {{item.name }}</p>
        </small>
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item"><strong>Price:&nbsp;</strong> Ksh {{ item.price }}</li></small>
          <small><li class="list-group-item"><strong>Location:&nbsp;</strong> {{ item.location}}</li></small>
        </ul>
      </div>
    </div>
  </div>    
  {% endfor %}
  {% endif %}
</div> -->
{% endblock %}