{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <!-- CAROUSEL -->
  <div id="carousel" class="carousel carousel1 slide carousel-fade mt-3" data-mdb-ride="carousel">
    <div class="carousel-inner rounded-5 shadow-4-strong">
      <div class="carousel-item carousel-item1 active">
        <img class="d-block w-100" src="http://source.unsplash.com/1600x400/?smartphones" alt="..." id="carousel-img" width="80" height="20">
        <div class="carousel-caption d-none d-md-block">
          <form class="form mr-sm-2" action='/search' role="search">
            <input class="form-control mr-2 text-center" type="search" placeholder="Search for a product" name="searchitem" aria-label="Search">
            <small class="form-small">To get a more accurate search, search for a specific product</small>
            <br>
            <button class="form-button text-center btn btn-warning btn-md my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
    <button onclick="displayPreviousImage()" class="button1 carousel-control-prev" type="button" data-mdb-target="#carousel"
      data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button onclick="displayPreviousImage()" class="button1 carousel-control-next" type="button" data-mdb-target="#carousel"
      data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- END OF CAROUSEL -->

</div>
<br> -->

<div class="row mx-auto container-fluid d-flex justify-content-between mt-3">
  <h4 class="text-center"> Search results for: </h4>
  <hr>

  <!-- JIJI -->
  <div class="col-lg-4 col-md-3 col-sm-6" style="margin-bottom: 1rem;">
    <a href="{{min_jiji_item.link}}" target="_blank">
      <div class="card card1">
        <div class="card-title text-center">

          <h6 class="card-header">{{store_jiji}}</h6>

          {% if min_jiji_item.image %}
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="{{min_jiji_item.image}}" class="img1 card-img-top img-fluid" alt="image">
          </div>
          {% else %}
          <img src="/static/images/logo.png" class="img1 card-img-top img-fluid" alt="image">
          {% endif %}
        </div>
        <div class="card-body card-body1">
          <small><p class="text-center card-title">Product Details</p></small>
          <ul class="list-group list-group-flush">
          {% if min_jiji_item%}  
            <small>
              <li class="list-group-item px-3"><small><strong>Price:&nbsp;</strong>Ksh. {{min_jiji_item.price}}</small></li>
            </small>
            <small>
              <li class="list-group-item px-3"><small><strong>Location:&nbsp;</strong>{{min_jiji_item.location}}</small></li>
            </small>
          {% else %}
            <li class="list-group-item px-3 text-center">No item available in Jiji</li>
          {% endif %}  
          </ul>
        </div>
      </div>
    </a>
  </div>

  <!-- JUMIA -->
  {% if min_jumia_item %}
  <div class="col-lg-4 col-md-3 col-sm-6" style="margin-bottom: 1rem;">
    <a href="{{min_jumia_item.link}}" target="_blank" >
      <div class="card card1">
        <div class="card-title text-center">
          <h6 class="card-header">{{store_jumia}}</h6>

          {% if min_jumia_item.image %}
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="{{min_jumia_item.image}}" class="img1 card-img-top" alt="image">
          </div>
          {% else %}
          <img src="/static/images/logo.png" class="img1 card-img-top img-fluid" alt="image">
          {% endif %}
        </div>

        <div class="card-body card-body1">
          <small><p class="text-center card-title">Product Details</p></small>
          <ul class="list-group list-group-flush">
            {% if min_jumia_item %}
            <small>
              <li class="list-group-item px-3"><strong><small>Price:&nbsp;</small></strong><small>{{min_jumia_item.price}}</small></li>
            </small>
            <small>
              <li class="list-group-item px-3"><strong><small>Rating:&nbsp;</small></strong><small>{{min_jumia_item.rating}}</small></li>
            </small>
            {% else %}
            <li class="list-group-item px-3 text-center">No item available in Jumia</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </a>
  </div>
  {% endif %}

  <!-- COPIA -->
  <div class="col-lg-4 col-md-3 col-sm-6" style="margin-bottom: 1rem;">
      <a href="{{min_copia_item.link}}">
        <div class="card card1">
          <div class="card-title text-center">
            <h6 class="card-header">{{store_copia}}</h6>
            {% if min_copia_item.image %}
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{{min_copia_item.image}}" class="img1 card-img-top img-fluid" alt="image">
            </div>
            {% else %}
            <img src="/static/images/logo.png" class="img1 card-img-top img-fluid" alt="image">
            {% endif %}
          </div>
          <div class="card-body card-body1">
            <small><p class="text-center card-title">Product Details</p></small>
            <ul class="list-group list-group-flush">
              {% if min_copia_item %}
              <small>
                <li class="list-group-item px-3"><small><strong>Price:&nbsp;</strong>{{min_copia_item.price}}</small></li>
              </small>
              <small>
                <li class="list-group-item px-3"><small><strong>Location:&nbsp;</strong>{{min_copia_item.location}}</small></li>
              </small>
              {% else %}
              <li class="list-group-item px-3 text-center">No item available in Copia</li>
            {% endif %} 
            </ul>
          </div>
        </div>
      </a>
  </div>
<br><br>

<!-- END OF PRODUCTS -->


<div class="row">
  {% if all_jiji_items %}
  <h1 class="text-center">{{store_jiji}}</h1>
  <br><br><br>
  {% for item in all_jiji_items %}
  <div class="col-lg-2 col-md-3 col-sm-4" style="margin-bottom: 0.5rem;">

  <a href="{{item.link}}" target="_blank">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="{{ item.image }}" alt="{{ item.name }}" class="img-fluid">
      </div>
      <div class="card-body">
        <small>
          <p class="card-title text-center"><strong> Product:</strong> {{item.name }}</p>
        </small>
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item"><small><strong>Price:&nbsp;</strong> Ksh {{ item.price }}</small></li></small>
          <small><li class="list-group-item"><small><strong>Location:&nbsp;</strong> {{ item.location}}</small></li></small>
        </ul>

      </div>
      </a>
  </div>    
  {% endfor %}
  {% endif %}
</div>
<div class="row">
  {% if all_jumia_products %}
  <h1 class="text-center">{{store_jumia}}</h1>
  <br><br><br>

  {% for item in all_jumia_products %}
  <div class="col-lg-2 col-md-3 col-sm-4 mt-3" style="margin-bottom: 0.5rem;">
   <a href="{{item.link}}" target="_blank">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="{{ item.image }}" alt="{{ item.name }}" class="img-fluid img1">
      </div>
      <div class="card-body">
        <small>
          <p class="card-title text-center"><strong> Product:</strong> {{item.name }}</p>
        </small>
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item"><small><strong>Price:&nbsp;</strong>{{ item.price }}</small></li></small>
          <small><li class="list-group-item"><small><strong>Rating:&nbsp;</strong> {{ item.rating}}</small></li></small>
        </ul>

      </div>
      </a>
  </div>    
  {% endfor %}
  {% endif %}
</div>
<div class="row">
  {% if all_copia_items %}
  <h1 class="text-center">{{store_copia}}</h1>
  <br><br><br>
  {% for item in all_copia_items %}
  <div class="col-lg-2 col-md-3 col-sm-4" style="margin-bottom: 0.5rem;">

  <a href="{{item.link}}" target="_blank">
    <div class="card card1">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="{{ item.image }}" alt="{{ item.name }}" class="img-fluid">
      </div>
      <div class="card-body">
        <small><p class="card-title text-center"><strong> Product:</strong> {{item.name }}</p>
        </small>
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item"><strong>Price:&nbsp;</strong> Ksh {{ item.price }}</li></small>
          <!-- <small><li class="list-group-item"><strong>Location:&nbsp;</strong> {{ item.location}}</li></small> -->
        </ul>

      </div>
      </a>
  </div>    
  {% endfor %}
  {% endif %}

</div>
<button id="btnScrollToTop">
  <i class="fas fa-angle-up"></i>
</button>

{% endblock %}