{% extends 'base.html' %}

{% block content %}
{{search}}
<div id="search" class="container-fluid text-center">
  <br><br>
  <form class="form mr-sm-2" action='/search' role="search">
    <input class="form-control mr-2 text-center" type="search" placeholder="Search for a product" name="searchitem" aria-label="Search">
    <small class="form-small">To get a more accurate search specify the product item</small>
    <br>
    <button class="form-button text-center btn btn-warning btn-md my-2 my-sm-0" type="submit">Search</button>
  </form>
  <br>
</div>
<br>

<div class="row mx-auto container-fluid d-flex justify-content-between">
  <h6 class="text-center"> Search results for </h6>
  <div class="col-lg-3 col-md-3 col-sm-6" style="margin-bottom: 1rem;">
    <div class="card">
      <div class="card-title text-center">
        <h6>Shop Zilla Ranking</h6>
      </div>
      <div class="card-body">
        <h6 class="text-center">Costing</h6>
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item"><span class="compare" >Jiji</span><span class="compare_price">Ksh. 180</span></li></small>
          <small><li class="list-group-item"><span class="compare" >Jiji</span><span class="compare_price">Ksh. 200</span></li></small>
          <small><li class="list-group-item"><span class="compare" >Jiji</span><span class="compare_price">Ksh. 220</span></li></small>
        </ul>
      </div>
      <div class="card-body">
        <h6 class="text-center">Service</h6>
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item"><span class="compare" >Jiji</span><span class="compare_price">Rating: 4.8</span></li></small>
          <small><li class="list-group-item"><span class="compare" >Jiji</span><span class="compare_price">Rating: 4.7</span></li></small>
          <small><li class="list-group-item"><span class="compare" >Jiji</span><span class="compare_price">Rating: 4.6</span></li></small>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6" style="margin-bottom: 1rem;">
    <div class="card">
      <div class="card-title text-center">
        <h6>Jumia</h6>
        <img src="/static/images/logo.png" class="card-img-top" alt="image">
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item">Price: Ksh. 200</li></small>
          <small><li class="list-group-item">Shipping: Ksh. 100</li></small>
          <small><li class="list-group-item">Rating: 4.7</li></small>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6" style="margin-bottom: 1rem;">
    <div class="card">
      <div class="card-title text-center">
        <h6>Kilimall</h6>
        <img src="/static/images/logo.png" class="card-img-top" alt="image">
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item">Price: Ksh. 180</li></small>
          <small><li class="list-group-item">Shipping: Ksh. 100</li></small>
          <small><li class="list-group-item">Rating: 4.7</li></small>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6" style="margin-bottom: 1rem;">
    <div class="card">
      <div class="card-title text-center">
        <h6>Jiji</h6>
        <img src="/static/images/logo.png" class="card-img-top" alt="image">
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <small><li class="list-group-item">Price: Ksh. 200</li></small>
          <small><li class="list-group-item">Shipping: Ksh. 100</li></small>
          <small><li class="list-group-item">Rating: 4.7</li></small>
        </ul>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  {% for item in names %}
  <div class="col-lg-2 col-md-3 col-sm-4">
      <div class="card">
          <div class="card-title">
              <h6> Product: {{ item.name }}</h6>
              <img src="{{item.image}}" alt="{{ item.name}}" style="max-height: 200px;">
          </div>
          <div class="card-body">
              <p> price: {{ item.price }}</p>
              <p> location: {{ item.location }}</p>
          </div>
      </div>
  </div>    
  {% endfor %}
</div>
{% endblock %}